<%= form_for( trainer , remote: true) do |f| %>
    <div>Name: <%= f.text_field :name %></div>
    <div>Age: <%= f.number_field :age %></div>
    <div>Skill Level: <%= f.text_field :skill_level %></div>
